@import "../theme/palette";

// These mixins can be used to apply pairs of background and text colours that have sufficient contrast.

@mixin contrast-blue {
	background: $blue--pale;
	color: $black;
}

@mixin contrast-yellow {
	background: $yellow--pale;
	color: $black;
}

@mixin contrast-red {
	background: $red--pale;
	color: $black;
}
