@import "../theme/palette";

@mixin palette-light {
	--white: #{$white};
	--black: #{$black};

	--grey: #{$grey--light};
	--grey--light: #{$grey--light};
	--grey--mid: #{$grey--mid-light};

	--blue--pale: #{$blue--pale};
	--blue--vivid: #{$blue--vivid};

	--yellow--pale: #{$yellow--pale};

	--red--pale: #{$red--pale};
	--red--dim: #{$red--dim};

	--link: #{$blue--vivid};
}

@mixin palette-dark {
	--white: #{$black};
	--black: #{$white};

	--grey: #{$grey};
	--grey--light: #{$grey--dark};
	--grey--mid: #{$grey--mid-dark};

	--blue--pale: #{$blue--dim};
	--blue--vivid: #{$blue--vivid-bright};

	--yellow--pale: #{$yellow--dim};

	--red--pale: #{$red--dim};
	--red--dim: #{$red--pale};

	--link: #{$blue--vivid-bright};
}

:root {
	@include palette-light;
}

@media (prefers-color-scheme: dark) {
	:root {
		@include palette-dark;
	}
}

.light {
	@include palette-light;
}
.dark {
	@include palette-dark;
}
.colour-scheme--default {
	@include palette-light;
	@media (prefers-color-scheme: dark) {
		@include palette-dark;
	}
}
