@mixin palette-light {
	--bg-primary: #{$bg-primary--light};
	--col-primary: #{$col-primary--light};

	--bg-primary--active: #{$bg-primary--active--light};
	--col-primary--active: #{$col-primary--active--light};

	--bg-secondary: #{$bg-secondary--light};
	--col-secondary: #{$col-secondary--light};

	--bg-brand: #{$bg-brand--light};
	--col-brand: #{$col-brand--light};

	--bg-dark: #{$bg-dark--light};
	--col-dark: #{$col-dark--light};
	--accent-dark: #{$accent-dark--light};
	--link-dark: #{$link-dark--light};

	--bg-blue: #{$bg-blue--light};
	--col-blue: #{$col-blue--light};

	--bg-yellow: #{$bg-yellow--light};
	--col-yellow: #{$col-yellow--light};

	--bg-red: #{$bg-red--light};
	--col-red: #{$col-red--light};

	--link-base: #{$link-base--light};
	--link: var(--link-base);

	--accent-base: #{$accent-base--light};
	--accent: var(--accent-base);
}

@mixin palette-dark {
	--bg-primary: #{$bg-primary--dark};
	--col-primary: #{$col-primary--dark};

	--bg-primary--active: #{$bg-primary--active--dark};
	--col-primary--active: #{$col-primary--active--dark};

	--bg-secondary: #{$bg-secondary--dark};
	--col-secondary: #{$col-secondary--dark};

	--bg-brand: #{$bg-brand--dark};
	--col-brand: #{$col-brand--dark};

	--bg-dark: #{$bg-dark--dark};
	--col-dark: #{$col-dark--dark};
	--accent-dark: #{$accent-dark--dark};
	--link-dark: #{$link-dark--dark};

	--bg-blue: #{$bg-blue--dark};
	--col-blue: #{$col-blue--dark};

	--bg-yellow: #{$bg-yellow--dark};
	--col-yellow: #{$col-yellow--dark};

	--bg-red: #{$bg-red--dark};
	--col-red: #{$col-red--dark};

	--link-base: #{$link-base--dark};
	--link: var(--link-base);

	--accent-base: #{$accent-base--dark};
	--accent: var(--accent-base);
}

:root {
	@include palette-light;
}

@media (prefers-color-scheme: dark) {
	:root {
		@include palette-dark;
	}
}

.light {
	@include palette-light;
}
.dark {
	@include palette-dark;
}
.colour-scheme--default {
	@include palette-light;
	@media (prefers-color-scheme: dark) {
		@include palette-dark;
	}
}
