/// Tag name based styles for body text areas
%content {
	@include font-base-18;
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}

	h1 {
		@include font-heading-40b;
		margin: 0 0 2rem;
	}

	h2 {
		@include font-heading-32b;
		margin: 0 0 2rem;
	}

	h3 {
		@include font-heading-28b;
		margin: 0 0 2rem;
	}

	h4 {
		@include font-heading-24b;
		margin: 0 0 2rem;
	}

	h5 {
		@include font-heading-22b;
		margin: 0 0 2rem;
	}

	h5 {
		@include font-heading-20b;
		margin: 0 0 2rem;
	}

	p {
		margin: 0 0 1rem;
	}

	blockquote {
		margin: 0 0 1rem;
		padding: 0 2rem;

		position: relative;
		&::before,
		&::after {
			position: absolute;
			font-size: 3em;
		}
		&::before {
			content: "“";
			top: 0;
			left: 0;
		}
		&::after {
			content: "”";
			bottom: 0;
			right: 0;
		}
	}
}
