<%##
	locals: {
		siteData: SiteData,
	}
%>

				</div>
			</div>
		</main>

		<footer class="footer">
			<div class="footer__layout">
				<% if (siteData.navigation.footer) { %>
					<nav class="footer__navigation">
						<ul class="footer__navigation__list">
							<% for (const navItem of siteData.navigation.footer) { %>
								<li class="footer__navigation__item">
									<a class="footer__navigation__link" href="<%= navItem.path %>"><%= navItem.name %></a>
								</li>
							<% } %>
						</ul>
					</nav>
				<% } %>

				<p class="footer__by">
					Made by <a href="https://curly.kiwi" target="_blank">Brooke Hart</a> and
					<a href="https://hatetosayit.com" target="_blank">Dillon Pentz</a>
				</p>

				<p class="footer__disclaimer">
					policepolicy.nz is not associated with New Zealand Police in any way.
				</p>
			</div>
		</footer>
	</body>
</html>
