<%#
	locals: {}
%>

<%- include('../layout/head', {
	title: 'About',
}); %>

<div class="content">
	<section>
		<h2>Purpose</h2>

		<p>This site serves as a public directory for policies and other associated documents from and used by New Zealand Police. Our goal is to facilitate public understanding of Police policy both in its current form and in how it has changed over time.</p>

		<p>We aim to support the work of journalists, academics, and activists, whose work regards the actions of Police and their relationship to the public. We also intend for this site to be useful to anyone who has interacted with Police, by helping them to understand the rules police officers are supposed to operate under.</p>

		<p>Most of the documents on this site have been acquired through Official Information Act requests to Police. Some documents have been proactively released by Police, and have been backed up in this directory for posterity.</p>
	</section>

	<section>
		<h2>Contributing</h2>
		<p>We believe that these documents should be accessible to all as a matter of public interest, and we encourage you to help us build up the directory. If you are aware of a Police policy document we don't host, please <span class="todo">contact us</span>.</p>

		<p>You can also contribute to the directory by <span class="todo">requesting a document we don't have</span>.</p>
	</section>

	<section>
		<h2>About us</h2>

		<h3>Mark Hanna</h3>

		<p class="todo">Mark is a nerd who cares about doing the right thing. TODO: Write a bit more than that</p>

		<h3>Dillon Pentz</h3>

		<p class="todo">short bios about Dillon</p>
	</section>
</div>

<%- include('../layout/foot'); %>
