<%##
	locals: {
		directory: Record<string, Policy>,
	}
%>

<%
	const [keys, policies] = Object.keys(directory).sort().reduce((prev, key) => {
		prev[0].push(key);
		prev[1].push(directory[key]);
		return prev;
	}, [[], []]);
%>

<%- include('../layout/head', { title: 'Directory' }); %>

<article class="directory">
	<div class="directory__layout">
		<h1 class="directory__title">Directory</h1>

		<ul class="directory__list">
			<% policies.forEach((policy, idx) => { %>
				<li class="directory__item">
					<%- include('../components/policy-summary', { policy, key: keys[idx] }); %>
				</li>
			<% }) %>
		</ul>
	</div>
</article>

<%- include('../layout/foot'); %>
