<%##
	locals: {
		siteData: SiteData,
		pageData: {
			directory: Record<string, Policy>,
		},
	}
%>

<%
	const { paths } = siteData;
	const { directory } = pageData;

	// Sort keys and policies by policy name
	const directoryEntries = Object.entries(directory).sort((a, b) => a[1].name.localeCompare(b[1].name));
	const keys = directoryEntries.map(([key, policy]) => key);
	const policies = directoryEntries.map(([key, policy]) => policy);

	const policyTypes = Array.from(new Set(policies.map((policy) => policy.type))).sort((a, b) => a.localeCompare(b));
%>

<%- include('../layout/head', {
	title: 'NZ Police Policy Directory',
	backLink: true,
}); %>

<article class="directory">
	<form class="directory__search js-search" action="." method="GET" aria-controls="policy-search-results" autocomplete="off">
		<div class="directory__search__row">
			<input class="directory__search__query js-search__input" name="name" type="search" placeholder="Search" />
			<select class="directory__search__type js-search__input" name="type">
				<option value="">All types</option>
				<% for (const type of policyTypes) { %>
					<option><%= type %></option>
				<% } %>
			</select>
		</div>

		<div class="directory__search__row">
			<label class="directory__search__fake-checkbox">
				<input type="checkbox" class="directory__search__fake-checkbox__input js-search__input" name="include-stubs" id="include-stubs" value="true" checked />
				<span class="directory__search__fake-checkbox__display"></span>
			</label>

			<label class="directory__search__label" for="include-stubs">Include empty pages</label>
		</div>
	</form>

	<div class="directory__search-results" id="policy-search-results">
		<ul class="directory__list">
			<% policies.forEach((policy, idx) => { %>
				<li class="directory__item js-search__item-wrapper">
					<%- include('../components/policy-summary', { policy, paths, key: keys[idx] }); %>
				</li>
			<% }) %>
		</ul>

		<div class="directory__no-search-results js-search__no-results" hidden>
			There were no results for your search.
		</div>
	</div>
</article>

<%- include('../layout/foot'); %>
