<%#
	locals: {
		siteData: SiteData,
		pageData: {
			error: number | string,
			errorTitle?: string,
			errorString: string,
		},
	}
%>

<%
	const {
		error,
		errorString,
	} = pageData;
%>

<%- include('../layout/head', {
	title: String(error),
	meta: [{
		name: 'robots',
		content: 'noindex',
	}],
}); %>

<div class="content">
	<% if (locals.errorTitle) { %>
		<h1><%- locals.errorTitle %></h1>
	<% } %>

	<p><%- errorString %></p>
</div>

<%- include('../layout/foot'); %>
