<%#
	locals: {
		siteData: SiteData,
		pageData: {
			error: number,
			errorString: string,
		},
	}
%>

<%
	const {
		error,
		errorString,
	} = pageData;
%>

<%- include('../layout/head', {
	title: error,
	meta: [{
		name: 'robots',
		content: 'noindex',
	}],
}); %>

<div class="content">
	<p><%- errorString %></p>
</div>

<%- include('../layout/foot'); %>
