<%# 
	locals: {
		error: number,
		errorString: string,
	}
%> 

<%- include('../layout/head', { title: ""}); %>

<article class="directory">
	<div class="directory__layout">
		<h1 class="directory__title">Error <%- error %>.</h1>
		<p><%- errorString %></p>
	</div>
</article>

<%- include('../layout/foot'); %>