<%##
	locals: {
		paths: {
			policies: string,
		},
	}
%>

<%- include('../layout/head', { title: 'Directory' }); %>

<article class="directory">
	<div class="directory__layout">
		<h1 class="directory__title">Directory</h1>

		<a href="<%= paths.policies %>" class="directory__section-link">Policies</a>
	</div>
</article>

<%- include('../layout/foot'); %>
