<%##
	locals: {
		siteData: SiteData,
		pageData: {},
	}
%>

<%
	const { paths } = siteData;
%>

<%- include('../layout/head', { title: 'NZ Police Policy Directory' }); %>

<div class="content">
	<h2>Welcome</h2>

	<p>Welcome to the NZ Police Policy Directory. This website is an independent host of New Zealand Police policies and related documents, and is not associated with or controlled by NZ Police.</p>

	<p>You can find a complete list of all Police policy documents we are aware of in our directory:</p>
</div>

<a href="<%= paths.policies %>" class="home__section-link">Policies</a>

<div class="content">
	<p>For information on how to use this website, see our <a href="/how-to-use/">How to use this website</a> page.</p>
</div>

<%- include('../layout/foot'); %>
