@import "../tools/palette";
@import "../tools/fonts";

@import "../tools/transition";
@import "../tools/active";

.colour-scheme {
	display: none;

	@supports (color: var(--test)) {
		display: block;

		body.no-js & {
			display: none;
		}
	}

	position: relative;
	min-width: 11ch;
}

.colour-scheme__face {
	@include button-reset;

	width: 100%;
	padding: 0.5em;
	border: 1px solid currentColor;

	@include contrast-primary;
	@include active {
		@include contrast-secondary;
	}
	@include transition(background-color);

	@include font-base-16;

	border-radius: 0.5em;
	&::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 1ch;

		width: 0;
		height: 0;

		font-size: 0.7em;
		border-left: 1em solid currentColor;
		border-top: 0.5em solid transparent;
		border-bottom: 0.5em solid transparent;

		transform-origin: 50% 50%;
		@include transition(transform);
	}
	&[aria-expanded="true"] {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		&::before {
			transform: rotate(90deg);
		}
	}
}

.colour-scheme__menu {
	@include list-reset;

	display: none;
	&[aria-expanded="true"] {
		display: block;
	}

	position: absolute;
	width: 100%;

	@include contrast-primary;
	border: 1px solid currentColor;
	border-top: 0;
	border-radius: 0 0 0.5em 0.5em;
}

.colour-scheme__menu__option {
	cursor: pointer;
	padding: 0.2em 0.5em;

	@include contrast-primary;
	@include active {
		@include contrast-secondary;
	}
	@include transition(background-color);

	@include font-base-16;

	padding-right: calc(0.5em + 2ch);
	position: relative;
	&[aria-checked="true"] {
		&::after {
			content: "✔";
			position: absolute;
			top: 0;
			right: 0.5em;
		}
	}

	&:last-child {
		border-radius: 0 0 0.5em 0.5em;
	}
}
