.colour-scheme {
	display: none;

	@supports (color: var(--test)) {
		display: block;

		body.no-js & {
			display: none;
		}
	}

	position: relative;
	min-width: 13ch;
}

.colour-scheme__face {
	@include button-reset;

	width: 100%;
	padding: 0.5em;
	border: 1px solid currentColor;

	@include contrast-primary;
	@include active {
		@include contrast-primary--active;
	}
	&:focus-visible {
		// Bring it in front of the menu to ensure its outline can display on top
		position: relative;
		z-index: 1;
	}
	@include transition(background-color);

	border-radius: 0.5em;
	&[aria-expanded="true"] {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.colour-scheme__face-icon {
	&::before {
		font-family: $font-icons;
		content: $icon-brightness;

		display: inline-block;
		vertical-align: middle;
	}
}

.colour-scheme__face-text {
	display: inline-block;
	vertical-align: middle;

	@include font-base-16;
}

.colour-scheme__menu {
	@include list-reset;

	display: none;
	&[aria-expanded="true"] {
		display: block;
	}

	position: absolute;
	width: 100%;

	@include contrast-primary;
	border: 1px solid currentColor;
	border-top: 0;
	border-radius: 0 0 0.5em 0.5em;
}

.colour-scheme__menu__option {
	cursor: pointer;
	padding: 0.2em 0.5em;

	@include contrast-primary;
	@include active {
		@include contrast-primary--active;
	}
	&:focus-visible {
		// Bring it on top of its positioned subsequent sibling so its focus outline can show in full
		z-index: 1;
	}
	@include transition(background-color);

	@include font-base-16;

	padding-right: calc(0.5em + 3ch);
	position: relative;
	&[aria-checked="true"] {
		&::after {
			font-family: $font-icons;
			content: $icon-tick;
			position: absolute;
			right: 0.5em;
		}
	}

	&:last-child {
		border-radius: 0 0 0.5em 0.5em;
	}
}
