.content {
	@extend %content;

	+ .content {
		margin-top: 1rem;
	}

	dl {
		&,
		> div {
			margin-bottom: 1em;
			&:last-child {
				margin-bottom: 0;
			}
		}

		dt {
			@include font-base-18b;
		}
	}
}
