.directory {}

.directory__section-link {
	@include font-heading-32b;
	@include link;
}

.directory__search {
	display: flex;
	align-items: stretch;
}

.directory__search__input {
	flex-grow: 1;
	padding: 0 0.5em;

	@include font-base-18;
}

.directory__search__submit {
	@include button($icon: true, $theme: "primary");
}

.directory__search__submit__icon {
	@include button__icon($icon-search);
}

.directory__list {
	@include list-reset;
}

.directory__item {
	position: relative;

	border-bottom: 2px solid;
	@include use-var(border-bottom-color, --accent, currentColor);
}
