.file {
	@include contrast-secondary;

	padding: 1rem;
	border: 1px solid;
	@include use-var(border-color, --accent, currentColor);
	border-radius: 0.5rem;

	@supports (display: grid) {
		display: grid;
		grid-column-gap: 2rem;
		grid-template-columns: repeat(2, 1fr);

		@include bp-to("s") {
			grid-template-areas:
				"handle"
				"notices"
				"accessibility"
				"metadata"
				"provenance"
				"alternate-files";
		}
		@include bp-from("s") {
			grid-template-areas:
				"handle handle"
				"notices notices"
				"accessibility provenance"
				"metadata provenance"
				"alternate-files alternate-files";
		}
	}

	+ .file {
		margin-top: 2rem;
	}
}

.file__handle {
	grid-area: handle;
}

.file__handle__link {
	@include font-base-24b;
	@include link;
}

.file__handle__size {
	@include font-base-16;
}

.file__notices {
	margin-top: 1rem;
	grid-area: notices;
}

.file__accessibility {
	margin-top: 1rem;
	grid-area: accessibility;
}

.file__metadata {
	margin-top: 1rem;
	grid-area: metadata;
}

.file__licence {}

.file__licence__handle {
	@include font-base-18;
}

.file__licence__handle__icon {
	font-family: $font-icons;
	&::before {
		content: $icon-info;
	}

	.file__licence[data-licence-name="None"] &::before {
		content: $icon-warning;
	}

	// Creative Commons
	.file__licence[data-licence-name^="CC"] &::before {
		content: $icon-tick;
	}
}

.file__licence__handle__link {
	@include link;
}

.file__licence__notices {
	margin: 0.5em 0;
}

.file__original {
	margin-top: 0.3em;
	@include font-base-18;
}

.file__original__icon {
	font-family: $font-icons;

	.file__original--original &::before {
		content: $icon-tick;
	}
	.file__original--not-original &::before {
		content: $icon-info;
	}
}
.file__original__text {}

.file__modifications {
	margin-top: 0.3em;
}

.file__modifications__item {
	@include font-base-18;
}

.file__incomplete {
	margin-top: 0.3em;
	@include font-base-18;
}

.file__incomplete__icon {
	font-family: $font-icons;
	&::before {
		content: $icon-warning;
	}
}

.file__incomplete__text {}

.file__provenance {
	margin-top: 1rem;
	grid-area: provenance;
}

.file__alternate-files {
	margin-top: 1rem;
	border-top: 2px solid;
	@include use-var(border-top-color, --accent, currentColor);
	padding-top: 1rem;
	grid-area: alternate-files;
}

.file__alternate-files__title {
	@include font-heading-22b;
	margin: 0 0 0.5rem;
}
