@import "../tools/layout";
@import "../tools/fonts";
@import "../tools/palette";

.footer {
	padding-top: 2em;
	padding-bottom: 1em;

	background: $black;
	color: white;

	@include font-base-16;
}

.footer__layout {
	@include layout-wrapper;
	background: none;
}

.footer__by {
	a {
		@include link;
		color: $blue--pale;
	}
}
