.notice {
	display: flex;

	padding: 1em;
	border-radius: 0.5rem;
	box-shadow: inset 0 0 0 1px currentColor;
}

.notice--info {
	.notice__icon::before {
		content: $icon-info;
	}
	@include contrast-blue;
}
.notice--warning {
	.notice__icon::before {
		content: $icon-warning;
	}
	@include contrast-yellow;
}
.notice--error {
	.notice__icon::before {
		content: $icon-error;
	}
	@include contrast-red;
}

.notice__icon {
	@include font-heading-20b;
	padding-right: 1ch;
	&::before {
		font-family: $font-icons;
	}
}

.notice__body {
	@extend %content;
}

.notice__title {
	display: block;
	margin-bottom: 0.5em;

	@include font-heading-20b;
}

.notice__message {
	@include font-base-18;

	a {
		@include link;
	}
}
