@import "../tools/palette";
@import "../tools/fonts";

.notice {
	display: flex;
	margin-top: 1em;
	margin-bottom: 1em;

	padding: 1em;
	border-radius: 1em;
}

.notice--info {
	.notice__icon::before {
		content: $icon-info;
	}
	@include contrast-blue;
}
.notice--warning {
	.notice__icon::before {
		content: $icon-warning;
	}
	@include contrast-yellow;
}
.notice--error {
	.notice__icon::before {
		content: $icon-error;
	}
	@include contrast-red;
}

.notice__icon {
	@include font-heading-20b;
	padding-right: 1ch;
	&::before {
		font-family: $font-icons;
	}
}

.notice__body {}

.notice__title {
	display: block;
	margin-bottom: 0.5em;

	@include font-heading-20b;
}

.notice__message {
	@include font-base-18;

	a {
		@include link;
	}
}
