@import "../tools/layout";
@import "../tools/reset";
@import "../tools/fonts";

.policy {}

.policy__layout {
	@include layout-wrapper;
}

.policy__title {
	@include font-heading-40b;
}

.policy__type {
	display: block;
	@include font-base-16;
}

.policy__other-versions {}

.policy__other-versions__heading {
	@include font-heading-40b;
}

.policy__other-versions__list {
	@include list-reset;
}

.policy__other-versions__item {}

.policy__version {}

.policy__version--disclosure {
	.policy__version__name {
		cursor: pointer;
	}

	&:not([open]) {
		margin-bottom: 1em;
	}
	&[open] {
		margin-bottom: 2rem;
	}
}

.policy__version__name {
	@include font-heading-32b;
}

.policy__version__link {
	@include link;
}


