@import "../tools/layout";
@import "../tools/reset";
@import "../tools/fonts";
@import "../tools/headings";
@import "../tools/use-var";

.policy {
	@include use-var(background-color, --grey--light);
}

.policy__layout {
	@include layout-wrapper;
}

.policy__title {
	@include font-heading-40b;
	@include fullbleed-heading;
}

.policy__type {
	display: block;
	@include font-base-16;
}

.policy__version-list {
	@include list-reset;
}

.policy__version-item {}

.policy__version {}

.policy__version--disclosure {
	.policy__version__name {
		cursor: pointer;
	}

	&:not([open]) {
		margin-bottom: 1em;
	}
}

.policy__version__name {
	@include font-heading-32b;
}

.policy__version__link {
	@include link;
}


