.provenance {
	display: block;
	margin: 1rem 0;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

%provenance__meta {
	display: block;
	@extend %file-metadata__section;
	&:first-child {
		margin-top: 0;
	}

	@include font-base-18;
}

.provenance__source {
	@extend %provenance__meta;
}

.provenance__source__link {
	@include link;
}

.provenance__date {
	@extend %provenance__meta;
}

.provenance__withholdings {
	@extend %provenance__meta;
}

.provenance__withholdings__summary {
	@extend %file-metadata;
	@include font-base-18;
}
summary.provenance__withholdings__summary {
	@extend %file-metadata--summary;
}

.provenance__withholdings__summary-icon {
	@extend %file-metadata__icon;

	font-family: $font-icons;

	.provenance__withholdings--pass &::before {
		content: $icon-tick;
	}
	.provenance__withholdings--undetermined &::before {
		content: $icon-warning;
	}
	.provenance__withholdings--fail &::before {
		content: $icon-error;
	}
}

.provenance__withholdings__summary-text {
	@extend %file-metadata__part;
}

.provenance__withholdings__summary-expand-icon {
	@extend %file-metadata__expand-icon;
}

.provenance__withholdings__list {
	@extend %file-metadata__details;
}

.provenance__withholding {
	@extend %file-metadata__details__item;

	@supports(display: grid) {
		grid-template-columns: 10ch 1fr;
	}
}

.provenance__withholding__type {
	@extend %file-metadata__detail__item__column;
	white-space: nowrap;
}

.provenance__withholding__link {
	@extend %file-metadata__detail__item__column;
	@include link;
}

.provenance__withholding__value {
	margin-left: 1rem;
}
