.provenance {
	display: block;
	margin: 1rem 0;

	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

%provenance__meta {
	display: block;
	margin-top: 0.3em;
	&:first-child {
		margin-top: 0;
	}

	@include font-base-18;
}

.provenance__source {
	@extend %provenance__meta;
}

.provenance__source__link {
	@include link;
}

.provenance__date {
	@extend %provenance__meta;
}

.provenance__withholdings {
	@extend %provenance__meta;
}

.provenance__withholdings__summary {
	@include font-base-18;
}
summary.provenance__withholdings__summary {
	@supports (selector(details)) {
		cursor: pointer;
	}
}

.provenance__withholdings__summary-icon {
	display: inline-block;
	vertical-align: middle;

	font-family: $font-icons;

	.provenance__withholdings--pass &::before {
		content: $icon-tick;
	}
	.provenance__withholdings--unknown &::before {
		content: $icon-warning;
	}
	.provenance__withholdings--fail &::before {
		content: $icon-error;
	}
}

.provenance__withholdings__summary-text {
	display: inline-block;
	vertical-align: middle;
}

.provenance__withholdings__list {}

.provenance__withholding {
	display: flex;
}

.provenance__withholding__type {}

.provenance__withholding__link {
	@include link;
}

.provenance__withholding__value {
	margin-left: 1rem;
}
