@use "sass:map";

@import "../theme/breakpoints";

@mixin bp-from($from) {
	$fromVal: map.get($breakpoints, $from);
	@if (not $fromVal) {
		$fromVal: $from;
	}

	@media (min-width: $fromVal) {
		@content;
	}
}

@mixin bp-to($to) {
	$toVal: map.get($breakpoints, $to);
	@if (not $toVal) {
		$toVal: $to;
	}

	@media (max-width: $toVal) {
		@content;
	}
}

@mixin bp-between($from, $to) {
	@include bp-from($from) {
		@include bp-to($to) {
			@content;
		}
	}
}
