@import "../theme/fonts";
@import "rem";

// These mixins can be used to apply consistent font variants.
// Naming convention is based on the font's size on desktop devices.
// For example, `font-base-16b` means "base font, 16px at desktop, and bold"

@mixin font-heading-40b {
	font-family: $font-heading;
	font-size: rem(40px);
	font-weight: $bold;
}

@mixin font-heading-32b {
	font-family: $font-heading;
	font-size: rem(32px);
	font-weight: $bold;
}

@mixin font-heading-28b {
	font-family: $font-heading;
	font-size: rem(28px);
	font-weight: $bold;
}

@mixin font-heading-24b {
	font-family: $font-heading;
	font-size: rem(24px);
	font-weight: $bold;
}

@mixin font-heading-22b {
	font-family: $font-heading;
	font-size: rem(22px);
	font-weight: $bold;
}

@mixin font-heading-20b {
	font-family: $font-heading;
	font-size: rem(20px);
	font-weight: $bold;
}

@mixin font-base-18 {
	font-family: $font-base;
	font-size: rem(18px);
	font-weight: $regular;
}

@mixin font-base-18b {
	font-family: $font-base;
	font-size: rem(18px);
	font-weight: $bold;
}

@mixin font-base-16 {
	font-family: $font-base;
	font-size: rem(16px);
	font-weight: $regular;
}
