@import "../theme/palette";
@import "use-var";

@mixin link {
	@include use-var(color, --link);

	text-decoration: underline;
}

// These "contrast" mixins can be used to apply pairs of background and text colours that have sufficient contrast.

// The main background/colour pair
@mixin contrast-primary {
	@include use-var(background-color, --bg-primary, $bg-primary--light);
	@include use-var(color, --col-primary, $col-primary--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

// An "active" variant of the main background/colour pair
@mixin contrast-primary--active {
	@include use-var(background-color, --bg-primary--active, $bg-primary--active--light);
	@include use-var(color, --col-primary--active, $col-primary--active--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

// Using a branded background colour
@mixin contrast-brand {
	@include use-var(background-color, --bg-brand, $bg-brand--light);
	@include use-var(color, --col-brand, $col-brand--light);

	--accent: currentColor;
	--link: var(--link-base, #{$link-base--light});
}

// A dark background on both themes
@mixin contrast-dark {
	@include use-var(background-color, --bg-dark, $bg-dark--light);
	@include use-var(color, --col-dark, $col-dark--light);

	--accent: var(--accent-dark, #{$accent-dark--light});
	--link: var(--link-dark, #{$link-dark--light});
}




@mixin contrast-blue {
	@include use-var(background-color, --bg-blue, $bg-blue--light);
	@include use-var(color, --col-blue, $col-blue--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

@mixin contrast-yellow {
	@include use-var(background-color, --bg-yellow, $bg-yellow--light);
	@include use-var(color, --col-yellow, $col-yellow--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

@mixin contrast-red {
	@include use-var(background-color, --bg-red, $bg-red--light);
	@include use-var(color, --col-red, $col-red--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}
