@use "sass:string";
@use "sass:list";

/// Split a string into a list of strings.
/// @link https://stackoverflow.com/questions/32376461/how-to-split-a-string-into-two-lists-of-numbers-in-sass#answer-42295154
/// @param {string} $string - A string to split
/// @param {string} $separator [", "] - The separator to split on
/// @return {string} A list containing parts of the input string
@function string-split($string, $separator: ", ") {
	$separator-length: string.length($separator);

	// Start with an empty list
	$list: ();

	// Get the index of the first separator
	$index: string.index($string, $separator);

	@while $index != null {
		// Get the string up to the first separator
		$item: string.slice($string, 1, $index - 1);
		// Remove the first value and the separator from the string
		$string: string.slice($string, $index + $separator-length);

		// Append the item to the list
		$list: list.append($list, $item);

		// Update the index
		$index: string.index($string, $separator);
	}

	// Add the remainder of the list
	$list: list.append($list, $string);

	@return $list;
}

/// Converts a list of property name strings to a comma-separated list that can be used as the value of a `transition` property.
/// @param {string} $properties - One or more properties to transition, separated by ", "
/// @param {time} $duration - The transition duration
/// @param {string} $easing - The transition easing
/// @param {time} $delay - The transition delay
/// @return {string} A string that can be applied to the `transition` property
@function props-to-transitions($properties, $duration, $easing, $delay) {
	$transitions: string.unquote(list.nth($properties, 1)) $duration $easing $delay;

	@if (list.length($properties) >= 2) {
		@for $i from 2 through list.length($properties) {
			$transitions: $transitions, string.unquote(list.nth($properties, $i)) $duration $easing $delay;
		}
	}

	@return $transitions;
}

/// Apply a standardised transition
/// @param {string} $properties [all] - The properties to transition. If multiple, separate them by ", "
/// @param {time} $duration [0.2s] - The transition duration
/// @param {string} $easing [ease-in-out] - The transition easing
/// @param {time} $delay [0s] - The transition delay
@mixin transition($properties: all, $duration: 0.2s, $easing: ease-in-out, $delay: 0s) {
	$props: string-split($properties);
	$transitions: props-to-transitions($props, $duration, $easing, $delay);

	transition: $transitions;

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
	.no-transitions & {
		transition: none;
	}
}
