$white: #fff;
$black: #000;

$grey--light: #d3d3d3;
$grey--dark: #1c1c1c;

$blue--pale: #c8dbfd;
$blue--dim: #25254e;
$blue--vivid: #0000ff;
$blue--vivid-bright: #8888ff;

$yellow--pale: #ffffe0;
$yellow--dim: #474429;

$red--pale: #ffd9df;
$red--dim: #411919;
