$yellow: #ffda22;
$palette-red: #562c2c;
$grey--medium-light: #f5e7e7;
$grey: #121114;
$palette-rose: #44a1a0;
//$palette-rose: #b7385a;

$white: #fff;
$black: #000;

$grey--light: #fcefef;
$grey--dark: #1c1c1c;
$grey--mid-light: #bbb;
$grey--mid-dark: #444;

$blue--pale: #c8dbfd;
$blue--dim: #25254e;
$blue--vivid: #0000ff;
$blue--vivid-bright: #9494ff;

$yellow--pale: #ffffe0;
$yellow--dim: #474429;

$red--pale: #ffd9df;
$red--dim: #562c2c;
