////////////////////
// Colour palette //
////////////////////

$white: #ffffff;
$black: #000000;

$grey--offwhite: #eeeeee;
$grey--light: #d0d0d0;
$grey--dark: #222222;
$grey--darker: #111111;

$green--pale: #ccf0cc;
$green--saturated: #178217;

$blue--pale: #c8dbfd;
$blue--saturated: #074dc5;

$yellow--pale: #f2f2ca;
$yellow--saturated: #e68a00;

$red--pale: #ffd9df;
$red--saturated: #cc334a;

$blue--vivid: #0000ff;
$blue--vivid-bright: #8888ff;

// $school-bus-yellow: #ffda22;

$middle-blue: #78cdd7;
$cadet-blue: #44a1a0;

$midnight-green-eagle-green: #0d5c63;
$teal: #247b7b;


////////////////
// Light mode //
////////////////

// Supplementary colours
////////////////////////
$link-base--light: $blue--vivid;
$accent-base--light: $cadet-blue;

// Contrast pairs
/////////////////
// AAA 18.1
$bg-primary--light: $grey--offwhite;
$col-primary--light: $black;

// AAA 13.62
$bg-primary--active--light: $grey--light;
$col-primary--active--light: $black;

// AAA 21
$bg-secondary--light: $white;
$col-secondary--light: $black;

// AAA 18.1
$bg-secondary--active--light: $grey--offwhite;
$col-secondary--active--light: $black;

// AAA 11.51
$bg-brand--light: $middle-blue;
$col-brand--light: $black;
$link-brand--light: $black;

// AAA 21
$bg-dark--light: $black;
$col-dark--light: $white;
$accent-dark--light: $cadet-blue;
$link-dark--light: $blue--vivid-bright;

// AAA 16.9
$bg-green--light: $green--pale;
$col-green--light: $black;
$accent-green--light: $green--saturated;

// AAA 15.01
$bg-blue--light: $blue--pale;
$col-blue--light: $black;
$accent-blue--light: $blue--saturated;

// AAA 18.33
$bg-yellow--light: $yellow--pale;
$col-yellow--light: $black;
$accent-yellow--light: $yellow--saturated;

// AAA 16.24
$bg-red--light: $red--pale;
$col-red--light: $black;
$accent-red--light: $red--saturated;

/// The colours to use in the light colour scheme
@mixin palette-light {
	color-scheme: light;

	--bg-primary: #{$bg-primary--light};
	--col-primary: #{$col-primary--light};

	--bg-primary--active: #{$bg-primary--active--light};
	--col-primary--active: #{$col-primary--active--light};

	--bg-secondary: #{$bg-secondary--light};
	--col-secondary: #{$col-secondary--light};

	--bg-secondary--active: #{$bg-secondary--active--light};
	--col-secondary--active: #{$col-secondary--active--light};

	--bg-brand: #{$bg-brand--light};
	--col-brand: #{$col-brand--light};
	--link-brand: #{$link-brand--light};

	--bg-dark: #{$bg-dark--light};
	--col-dark: #{$col-dark--light};
	--accent-dark: #{$accent-dark--light};
	--link-dark: #{$link-dark--light};

	--bg-green: #{$bg-green--light};
	--col-green: #{$col-green--light};
	--accent-green: #{$accent-green--light};

	--bg-blue: #{$bg-blue--light};
	--col-blue: #{$col-blue--light};
	--accent-blue: #{$accent-blue--light};

	--bg-yellow: #{$bg-yellow--light};
	--col-yellow: #{$col-yellow--light};
	--accent-yellow: #{$accent-yellow--light};

	--bg-red: #{$bg-red--light};
	--col-red: #{$col-red--light};
	--accent-red: #{$accent-red--light};

	--link-base: #{$link-base--light};
	--link: var(--link-base);

	--accent-base: #{$accent-base--light};
	--accent: var(--accent-base);
}

///////////////
// Dark mode //
///////////////

// Supplementary colours
////////////////////////
$link-base--dark: $blue--vivid-bright;
$accent-base--dark: $teal;

// Contrast pairs
/////////////////
// AAA 18.88
$bg-primary--dark: $grey--darker;
$col-primary--dark: $white;

// AAA 15.91
$bg-primary--active--dark: $grey--dark;
$col-primary--active--dark: $white;

// AAA 15.91
$bg-secondary--dark: $grey--dark;
$col-secondary--dark: $white;

// AAA 18.88
$bg-secondary--active--dark: $grey--darker;
$col-secondary--active--dark: $white;

// AAA 7.7
$bg-brand--dark: $midnight-green-eagle-green;
$col-brand--dark: $white;
$link-brand--dark: $white;

// AAA 21
$bg-dark--dark: $black;
$col-dark--dark: $white;
$accent-dark--dark: $teal;
$link-dark--dark: $blue--vivid-bright;

// AAA 16.9
$bg-green--dark: $green--pale;
$col-green--dark: $black;
$accent-green--dark: $green--saturated;

// AAA 15.01
$bg-blue--dark: $blue--pale;
$col-blue--dark: $black;
$accent-blue--dark: $blue--saturated;

// AAA 20.29
$bg-yellow--dark: $yellow--pale;
$col-yellow--dark: $black;
$accent-yellow--dark: $yellow--saturated;

// AAA 16.24
$bg-red--dark: $red--pale;
$col-red--dark: $black;
$accent-red--dark: $red--saturated;

/// The colours to use in the dark colour scheme
@mixin palette-dark {
	color-scheme: dark;

	--bg-primary: #{$bg-primary--dark};
	--col-primary: #{$col-primary--dark};

	--bg-primary--active: #{$bg-primary--active--dark};
	--col-primary--active: #{$col-primary--active--dark};

	--bg-secondary: #{$bg-secondary--dark};
	--col-secondary: #{$col-secondary--dark};

	--bg-secondary--active: #{$bg-secondary--active--dark};
	--col-secondary--active: #{$col-secondary--active--dark};

	--bg-brand: #{$bg-brand--dark};
	--col-brand: #{$col-brand--dark};
	--link-brand: #{$link-brand--dark};

	--bg-dark: #{$bg-dark--dark};
	--col-dark: #{$col-dark--dark};
	--accent-dark: #{$accent-dark--dark};
	--link-dark: #{$link-dark--dark};

	--bg-green: #{$bg-green--dark};
	--col-green: #{$col-green--dark};
	--accent-green: #{$accent-green--dark};

	--bg-blue: #{$bg-blue--dark};
	--col-blue: #{$col-blue--dark};
	--accent-blue: #{$accent-blue--dark};

	--bg-yellow: #{$bg-yellow--dark};
	--col-yellow: #{$col-yellow--dark};
	--accent-yellow: #{$accent-yellow--dark};

	--bg-red: #{$bg-red--dark};
	--col-red: #{$col-red--dark};
	--accent-red: #{$accent-red--dark};

	--link-base: #{$link-base--dark};
	--link: var(--link-base);

	--accent-base: #{$accent-base--dark};
	--accent: var(--accent-base);
}

////////////////////
// Palette Mixins //
////////////////////

/// Standard link styling
@mixin link {
	@include use-var(color, --link);

	text-decoration: underline;
}

/// Standard link colour styling
@mixin link-colour {
	@include use-var(color, --link);
}

// These "contrast" mixins can be used to apply pairs of background and text colours that have sufficient contrast.

/// The main background/colour pair
@mixin contrast-primary {
	@include use-var(background-color, --bg-primary, $bg-primary--light);
	@include use-var(color, --col-primary, $col-primary--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

/// An "active" variant of the main background/colour pair
@mixin contrast-primary--active {
	@include use-var(background-color, --bg-primary--active, $bg-primary--active--light);
	@include use-var(color, --col-primary--active, $col-primary--active--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

/// A secondary background-colour pair to contrast with a primary contrast area
@mixin contrast-secondary {
	@include use-var(background-color, --bg-secondary, $bg-secondary--light);
	@include use-var(color, --col-secondary, $col-secondary--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

/// An "active" variant of the secondary background/colour pair
@mixin contrast-secondary--active {
	@include use-var(background-color, --bg-secondary--active, $bg-secondary--active--light);
	@include use-var(color, --col-secondary--active, $col-secondary--active--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-base, #{$link-base--light});
}

/// Using a branded background colour
@mixin contrast-brand {
	@include use-var(background-color, --bg-brand, $bg-brand--light);
	@include use-var(color, --col-brand, $col-brand--light);

	--accent: var(--accent-base, #{$accent-base--light});
	--link: var(--link-brand, #{$link-brand--light});
}

/// A dark background on both light and dark colour schemes
@mixin contrast-dark {
	@include use-var(background-color, --bg-dark, $bg-dark--light);
	@include use-var(color, --col-dark, $col-dark--light);

	--accent: var(--accent-dark, #{$accent-dark--light});
	--link: var(--link-dark, #{$link-dark--light});
}

@mixin contrast-green {
	@include use-var(background-color, --bg-green, $bg-green--light);
	@include use-var(color, --col-green, $col-green--light);

	--accent: var(--accent-green, #{$accent-green--light});
	--link: var(--link-base, #{$link-base--light});
}

@mixin contrast-blue {
	@include use-var(background-color, --bg-blue, $bg-blue--light);
	@include use-var(color, --col-blue, $col-blue--light);

	--accent: var(--accent-blue, #{$accent-blue--light});
	--link: var(--link-base, #{$link-base--light});
}

@mixin contrast-yellow {
	@include use-var(background-color, --bg-yellow, $bg-yellow--light);
	@include use-var(color, --col-yellow, $col-yellow--light);

	--accent: var(--accent-yellow, #{$accent-yellow--light});
	--link: var(--link-base, #{$link-base--light});
}

@mixin contrast-red {
	@include use-var(background-color, --bg-red, $bg-red--light);
	@include use-var(color, --col-red, $col-red--light);

	--accent: var(--accent-red, #{$accent-red--light});
	--link: var(--link-base, #{$link-base--light});
}
