@font-face {
  font-family: 'font-icons';
  src:  url('fonts/font-icons.eot?btenyn');
  src:  url('fonts/font-icons.eot?btenyn#iefix') format('embedded-opentype'),
    url('fonts/font-icons.ttf?btenyn') format('truetype'),
    url('fonts/font-icons.woff?btenyn') format('woff'),
    url('fonts/font-icons.svg?btenyn#font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\1f50d";
}
.icon-arrow-up:before {
  content: "\2191";
}
.icon-arrow-right:before {
  content: "\2192";
}
.icon-arrow-down:before {
  content: "\2193";
}
.icon-arrow-left:before {
  content: "\2190";
}
.icon-brightness:before {
  content: "\1f506";
}
.icon-warning:before {
  content: "\26a0";
}
.icon-error:before {
  content: "\1f6d1";
}
.icon-info:before {
  content: "\1f6c8";
}
.icon-cross:before {
  content: "\274c";
}
.icon-tick:before {
  content: "\2714";
}
