$icomoon-font-family: "font-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-brightness: "\1f506";
$icon-warning: "\26a0";
$icon-error: "\1f6d1";
$icon-info: "\1f6c8";
$icon-cross: "\274c";
$icon-tick: "\2714";

