@import "../tools/palette";
@import "../tools/fonts";

.notice {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;

	padding: 1em;
	border-radius: 1em;
}

.notice--info { @include contrast-blue; }
.notice--warning { @include contrast-yellow; }
.notice--error { @include contrast-red; }

.notice__title {
	display: block;
	margin-bottom: 0.5em;

	@include font-heading-20b;
}

.notice__message {
	@include font-base-18;

	a {
		@include link;
	}
}
