<%##
	locals: {
		notice: Notice
	}
%>

<div class="notice notice--<%= notice.type %>">
	<span class="notice__icon" aria-hidden="true"></span>

	<div class="notice__body">
		<% if (notice.title) { %>
			<span class="notice__title"><%= notice.title %></span>
		<% } %>

		<div class="notice__message"><%- notice.message %></div>
	</div>
</div>
