<div class="version">
	<% if (version.notices) { %>
		<% for (const notice of version.notices) { %>
			<%- include('notice', { notice }); %>
		<% } %>
	<% } %>

	<%- include('duration', { duration: version.duration }); %>

	<%
		const policyFiles = version.files.filter((file) => !file.documentType || file.documentType === 'Policy');
		const secondaryFiles = version.files.filter((file) => file.documentType !== 'Policy');
	%>

	<% policyFiles.forEach((file) => { %>
		<%- include('file', { file, version }); %>
	<% }) %>

	<% if (secondaryFiles.length) { %>
		<details class="todo">
			<summary>Secondary files</summary>
			<div>
				<% secondaryFiles.forEach((file) => { %>
					<%- include('file', { file, version }); %>
				<% }) %>
				</div>
		</details>
	<% } %>
</div>
