<div class="version">
	<% if (version.notices) { %>
		<% for (const notice of version.notices) { %>
			<%- include('notice', { notice }); %>
		<% } %>
	<% } %>

	<%- include('duration', { duration: version.duration }); %>

	<% version.files.forEach((file) => { %>
		<%- include('file', { file, version }); %>
	<% }) %>
</div>
