<%#
	locals: {
		version: PolicyVersion,
	}
%>

<div class="version">
	<% if (version.notices) { %>
		<% for (const notice of version.notices) { %>
			<%- include('notice', { notice }); %>
		<% } %>
	<% } %>

	<%- include('duration', { duration: version.duration }); %>

	<%
		const primaryFiles = [];
		const secondaryFiles = [];
		for (const file of version.files) {
			if (!file.documentType || file.documentType === 'Policy') {
				primaryFiles.push(file);
			} else {
				secondaryFiles.push(file);
			}
		}
	%>

	<% primaryFiles.forEach((file) => { %>
		<%- include('file', { file, version }); %>
	<% }) %>

	<% if (secondaryFiles.length) { %>
		<details class="version__alternate-files">
			<summary class="version__alternate-files__summary">Secondary files</summary>
			<div class="version__alternate-files__contents">
				<% secondaryFiles.forEach((file) => { %>
					<%- include('file', { file, version }); %>
				<% }) %>
				</div>
		</details>
	<% } %>
</div>
