<%
	const s6 = 'https://www.legislation.govt.nz/act/public/1982/0156/latest/whole.html#DLM65366';
	const s9 = 'https://www.legislation.govt.nz/act/public/1982/0156/latest/whole.html#DLM65371';

	const oiaLinks = {
		'6(a)': s6,
		'6(b)(i)': s6,
		'6(b)(ii)': s6,
		'6(c)': s6,
		'6(d)': s6,
		'6(e)(i)': s6,
		'6(e)(i)': s6,
		'6(e)(i)': s6,
		'6(e)(iv)': s6,
		'6(e)(v)': s6,
		'6(e)(vi)': s6,

		'9(2)(a)': s9,
		'9(2)(b)(i)': s9,
		'9(2)(b)(ii)': s9,
		'9(2)(ba)(i)': s9,
		'9(2)(ba)(ii)': s9,
		'9(2)(c)': s9,
		'9(2)(d)': s9,
		'9(2)(e)': s9,
		'9(2)(f)(i)': s9,
		'9(2)(f)(ii)': s9,
		'9(2)(f)(iii)': s9,
		'9(2)(f)(iv)': s9,
		'9(2)(g)(i)': s9,
		'9(2)(g)(ii)': s9,
		'9(2)(h)': s9,
		'9(2)(i)': s9,
		'9(2)(j)': s9,
		'9(2)(k)': s9,
	};
%>

<dl class="provenance__withholdings__list">
	<% Object.entries(withholdings).forEach(([key, val]) => { %>
		<div class="provenance__withholding">
			<dt class="provenance__withholding__type">
				<% if (oiaLinks[key]) { %>
					<a <%- include('../helpers/href-with-target', { href: oiaLinks[key] }); %> class="provenance__withholding__link"><%= key %></a>
				<% } else { %>
					<%= key %>
				<% } %>
			</dt>
			<dd class="provenance__withholding__value"><%= val %></dd>
		</div>
	<% }) %>
</dl>
