<%
	const [keys, policies] = Object.keys(directory).sort().reduce((prev, key) => {
		prev[0].push(key);
		prev[1].push(directory[key]);
		return prev;
	}, [[], []]);
%>

<%- include('layout/head', { title: 'Directory' }); %>

<h1>Directory</h1>

<ul>
	<% policies.forEach((policy, idx) => { %> <%- include('components/policy-summary', { policy, key: keys[idx] }); %> <% }) %>
</ul>

<%- include('layout/foot'); %>
