<%
	const [keys, policies] = Object.keys(directory).sort().reduce((prev, key) => {
		prev[0].push(key);
		prev[1].push(directory[key]);
		return prev;
	}, [[], []]);
%> 

<!DOCTYPE html>
<html>
	<%- include('components/head', { title: "Directory" }); %>
	<body>
		<%- include('components/header') %>
		<main>
			<h2>Directory</h2>

			<ul>
				<% policies.forEach((policy, idx) => { %> <%- include('components/policy-summary', { policy, key: keys[idx] }) %> <% }) %>
			</ul>
		</main>
		<%- include('components/footer') %>
	</body>
</html>
