<header class="header">
	<h1 class="header__site-name">NZ Police Policy Directory</h1>
	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__list-item"><a class="menu__list-link" href="/">Home</a></li>
			<li class="menu__list-item"><a class="menu__list-link" href="/Filter">Filter</a></li>
			<li class="menu__list-item"><a class="menu__list-link" href="/About">About</a></li>
		</ul>
	</nav>
</header>
