<div class="notice notice--<%= notice.type %>">
	<% if (notice.title) { %>
		<span class="notice__title"><%= notice.title %></span>
	<% } %>

	<div class="notice__message"><%= notice.message %></div>
</div>
