<section class="policy-summary">
	<h2 class="policy-summary__title">
		<a href="/<%= key %>" class="policy-summary__link"><%= policy.title %></a>
	</h2>

	<span class="policy-summary__type"><%= policy.type %></span>
	<%
		const latestVersion = policy.versions[0];
		const mainFile = policy.versions[0].files[0];

		const provenance = mainFile.provenance || latestVersion.provenance;
	%>
	<% if (provenance.retrieved) { %>
		<span class="policy-summary__date">Last Updated: <%- include('../helpers/date-partial', { date: provenance.retrieved }); %></span>
	<% } %>
</section>
