		</main>

		<footer class="footer">
			<div class="footer__layout">
				<p>
					Made by <a href="https://honestuniverse.com">Mark Hanna</a> and
					<a href="https://hatetosayit.com">Dillon Pentz</a>
				</p>
			</div>
		</footer>
	</body>
</html>